.custom-input {
    border: 1px solid #dcdcdc;
    border-radius: 12px;
    --background: #fff;
    --inner-padding-end: 0;
    padding-inline: 12px;
    margin-bottom: 16px;
  
    width: 100%;
    max-width: 950px; // ⬅️ ajusta este valor a tu gusto
  }
  